body {
}
.main {
    margin-left: 200px;
    font-size: 20px; 
    padding: 0px 10px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-right: 20px;
    display: inline-block;
}

.sidenav a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #706b6b;
        display: block;
}

.sidenav a:hover{
            color: #f1f1f1;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
.dropdown-menu{
    position:relative !important;
    transform:none !important;
    top:0;
    z-index:0;
}

